.parallax{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("https://img1.fonwall.ru/o/pj/birds-animals-simple-background-nature.jpeg?route=mid&h=750") 50%/cover no-repeat
  fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .parallaxFooter{
    color: white;
    .socials {
      text-align: center;
      a {
        img {
          width: 50px;
          height: 50px;
          object-fit: contain;
        }
      }
    }
  }
  .parallaxBody{

    min-height: 88%;
    @media (max-width: 862px) {
      min-height: 80%;
    }
    @media (max-width: 855px) {
      padding-top: 70px;
    }
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .title{
      font-size: 160px;
      color: white;
      font-family: Batang;
      font-weight: 600;
      @media (max-width: 888px) {
        font-size: 140px;
      }
      @media (max-width: 448px) {
        font-size: 90px;
      }
    }
    a{
      cursor: pointer;
      margin-top: 20px;
      text-decoration: none;
      padding: 15px 40px;
      background: linear-gradient(90deg,#db2e1a,#e3bb1e);
      font-size: 23px;
      color: white;
      font-weight: 600;
      border-radius: 25px;
      transition: .2s ease-in-out;
      position: relative;
      overflow: hidden;
      box-shadow:  2px 2px 10px white;
      @media (max-width: 448px) {
        font-size: 20px;
        padding:10px 20px;
        margin-top: 30px;
      }
      &:after{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        background: rgba(255,255,255, 0.4);
        filter: blur(9px);
        height: 100%;
        width: 60px;
        transform: skewX(-45deg);
        animation: shine 2s ease-in-out infinite;
        overflow: hidden;
      }
      @keyframes shine {
        0%{
        transform: skewX(-45deg) translateX(-400px);
        }
        100%{
          transform: skewX(-45deg) translateX(400px);
        }
      }
      &:hover{
        background: #e3bb1e;
        color: black;
      }
    }
  }
}